<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NourishNet</title>
    <link rel="stylesheet" href="styles/about.css">
</head>

<body>
    <div class="main">
        <div class="nav">
            <div class="logo">
                <h2>NOURISHNET</h2>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href=""><img style="height:30px; width:30px;" src="profile-picture.png" alt="PROFILE"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <br><br>
            <h1 id="hh1">Contact Us</h1>
            <p class="a1">Get Support</p><br>
            <div class="leads">
                <div id="aditya" class="leads1">

                    <p><B>Aditya Bharadwaj</B></p>
                    <p>Phone Number: 98591156</p>
                    <p>Email: aditya@gmail.com</p>
                </div>
                <br>
                <di v id="saiteja" class="leads1">

                    <p><B>Sai teja</B></p>
                    <p>Phone Number: 995491156</p>
                    <p>Email: saiteja@gmail.com</p>

            </div>
            <br>
            <div id="adithya" class="leads1">

                <p><B>Adithya Harshith</B></p>
                <p>Phone Number: 895591156</p>
                <p>Email: Adithya@gmail.com</p>

            </div>
            <br>
            <div id="darvish" class="leads1">

                <p><B>Darvish Yadav</B></p>
                <p>Phone Number: 97541 96854</p>
                <p>Email: Darvish@gmail.com</p>

            </div>
        </div>
        <br>
        <script src="script.js"></script>
</body>

</html>