@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Permanent+Marker&family=Rye&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rye&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    touch-action: none;
}

.main {
    background-color: white;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.nav {
    vertical-align: middle;
    background-color: rgb(62, 65, 65);
    border-radius: 25px;
    width: auto;
    height: 7.5vh;
    margin: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    padding-left: 100px;
}

.menu {
    padding-right: 100px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 62px;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: medium;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.content {
    background-color: #d9d9d9;
    border-radius: 30px;
    width: auto;
    height: 90.7vh;
    margin: 4px;
}

.txt h2 {
    font-size: 40px;
}

.txt p {
    font-family: "Permanent Marker", serif;
    font-size: 30px;
}

.form {
    width: 800px;
    height: 670px;
    background: black;
    position: absolute;
    color: azure;
    top: 25%;
    left: 30%;
    transform: translate(0%, -5%);
    border-radius: 30px;
}

.form h2 {
    margin-top: 5%;
    font-family: sans-serif;
    width: 200px;
    text-align: center;
}

.form img {
    height: 14%;
    width: 12%;
    float: right;
    margin-right: 6%;
}

.form input {
    width: 300px;
    height: 40px;
    background: transparent;
    border-bottom: 2px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: sans-serif;
}

.form label {
    padding-left: 13px;
    margin-right: 35px;
    height: 40px;
    background: transparent;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 20px;
    font-family: sans-serif;
}

.form input:focus {
    outline: none;
}

::placeholder {
    color: #fff;
    font-family: Arial;
}

.btn {
    width: 240px;
    height: 40px;
    background: rgb(203, 208, 207);
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: 0.4s ease;
}

.btn:hover {
    background: #d4870a;
    color: rgb(217, 220, 226);
}

.btn a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a {
    text-decoration: none;
    color: #d4870a;
}

.liw {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icons a {
    text-decoration: none;
    color: #fff;
}

.icons ion-icon {
    color: #fff;
    font-size: 40px;
    padding-left: 20px;
    padding-top: 5px;
    transition: 0.3s ease;
}

.icons ion-icon:hover {
    color: #d4870a;
}