<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/fr.css">
    <title>Document</title>
</head>

<body>
    <div class="main">
        <div class="nav">
            <div class="logo">
                <h2>NOURISHNET</h2>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href=""><img style="height:30px; width:30px;" src="profile-picture.png" alt="PROFILE"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content" align="center">
            <video autoplay muted plays-inline class="bcvideo" src="paperblast.mp4"></video>
            <div class="congrats">
                <h1>Thank you! <br> You have Sucessfully <br> registered food</h1>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>
